@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
meta.foundation-version {
  font-family: "/5.5.2/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-small-only {
  font-family: "/only screen and (max-width: 40em)/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:40.0625em)/";
  width: 40.0625em; }

meta.foundation-mq-medium-only {
  font-family: "/only screen and (min-width:40.0625em) and (max-width:64em)/";
  width: 40.0625em; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:64.0625em)/";
  width: 64.0625em; }

meta.foundation-mq-large-only {
  font-family: "/only screen and (min-width:64.0625em) and (max-width:90em)/";
  width: 64.0625em; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:90.0625em)/";
  width: 90.0625em; }

meta.foundation-mq-xlarge-only {
  font-family: "/only screen and (min-width:90.0625em) and (max-width:120em)/";
  width: 90.0625em; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:120.0625em)/";
  width: 120.0625em; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

html, body {
  height: 100%; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

html,
body {
  font-size: 18px; }

body {
  background: #f0efe7;
  color: #5D5C59;
  cursor: auto;
  font-family: "Lato", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  position: relative; }

a:hover {
  cursor: pointer; }

img {
  max-width: 100%;
  height: auto; }

img {
  -ms-interpolation-mode: bicubic; }

#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object,
.mqa-display img,
.mqa-display embed,
.mqa-display object {
  max-width: none !important; }

.left {
  float: left !important; }

.right {
  float: right !important; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.hide {
  display: none; }

.invisible {
  visibility: hidden; }

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

img {
  display: inline-block;
  vertical-align: middle; }

textarea {
  height: auto;
  min-height: 50px; }

select {
  width: 100%; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.text-center {
  text-align: center !important; }

.text-justify {
  text-align: justify !important; }

@media only screen and (max-width: 40em) {
  .small-only-text-left {
    text-align: left !important; }
  .small-only-text-right {
    text-align: right !important; }
  .small-only-text-center {
    text-align: center !important; }
  .small-only-text-justify {
    text-align: justify !important; } }

@media only screen {
  .small-text-left {
    text-align: left !important; }
  .small-text-right {
    text-align: right !important; }
  .small-text-center {
    text-align: center !important; }
  .small-text-justify {
    text-align: justify !important; } }

@media only screen and (min-width: 40.0625em) and (max-width: 64em) {
  .medium-only-text-left {
    text-align: left !important; }
  .medium-only-text-right {
    text-align: right !important; }
  .medium-only-text-center {
    text-align: center !important; }
  .medium-only-text-justify {
    text-align: justify !important; } }

@media only screen and (min-width: 40.0625em) {
  .medium-text-left {
    text-align: left !important; }
  .medium-text-right {
    text-align: right !important; }
  .medium-text-center {
    text-align: center !important; }
  .medium-text-justify {
    text-align: justify !important; } }

@media only screen and (min-width: 64.0625em) and (max-width: 90em) {
  .large-only-text-left {
    text-align: left !important; }
  .large-only-text-right {
    text-align: right !important; }
  .large-only-text-center {
    text-align: center !important; }
  .large-only-text-justify {
    text-align: justify !important; } }

@media only screen and (min-width: 64.0625em) {
  .large-text-left {
    text-align: left !important; }
  .large-text-right {
    text-align: right !important; }
  .large-text-center {
    text-align: center !important; }
  .large-text-justify {
    text-align: justify !important; } }

@media only screen and (min-width: 90.0625em) and (max-width: 120em) {
  .xlarge-only-text-left {
    text-align: left !important; }
  .xlarge-only-text-right {
    text-align: right !important; }
  .xlarge-only-text-center {
    text-align: center !important; }
  .xlarge-only-text-justify {
    text-align: justify !important; } }

@media only screen and (min-width: 90.0625em) {
  .xlarge-text-left {
    text-align: left !important; }
  .xlarge-text-right {
    text-align: right !important; }
  .xlarge-text-center {
    text-align: center !important; }
  .xlarge-text-justify {
    text-align: justify !important; } }

@media only screen and (min-width: 120.0625em) and (max-width: 6249999.9375em) {
  .xxlarge-only-text-left {
    text-align: left !important; }
  .xxlarge-only-text-right {
    text-align: right !important; }
  .xxlarge-only-text-center {
    text-align: center !important; }
  .xxlarge-only-text-justify {
    text-align: justify !important; } }

@media only screen and (min-width: 120.0625em) {
  .xxlarge-text-left {
    text-align: left !important; }
  .xxlarge-text-right {
    text-align: right !important; }
  .xxlarge-text-center {
    text-align: center !important; }
  .xxlarge-text-justify {
    text-align: justify !important; } }

/* Typography resets */
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0; }

/* Default Link Styles */
a {
  color: #008CBA;
  line-height: inherit;
  text-decoration: none; }
  a:hover,
  a:focus {
    color: #0078a0; }
  a img {
    border: none; }

/* Default paragraph styles */
p {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  text-rendering: optimizeLegibility; }
  p.lead {
    font-size: 1.21875rem;
    line-height: 1.6; }
  p aside {
    font-size: 0.875rem;
    font-style: italic;
    line-height: 1.35; }

/* Default header styles */
h1, h2, h3, h4, h5, h6 {
  color: #222222;
  font-family: "Lato", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: 0.5rem;
  margin-top: 0.2rem;
  text-rendering: optimizeLegibility; }
  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    color: #6f6f6f;
    font-size: 15.75px;
    line-height: 0; }

h1 {
  font-size: 2.125rem; }

h2 {
  font-size: 1.6875rem; }

h3 {
  font-size: 1.375rem; }

h4 {
  font-size: 1.125rem; }

h5 {
  font-size: 1.125rem; }

h6 {
  font-size: 1rem; }

.subheader {
  line-height: 1.4;
  color: #6f6f6f;
  font-weight: 300;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem; }

hr {
  border: solid #DDDDDD;
  border-width: 1px 0 0;
  clear: both;
  height: 0;
  margin: 1.25rem 0 1.1875rem; }

/* Helpful Typography Defaults */
em,
i {
  font-style: italic;
  line-height: inherit; }

strong,
b {
  font-weight: 700;
  line-height: inherit; }

small {
  font-size: 15.75px;
  line-height: inherit; }

code {
  background-color: #f8f8f8;
  border-color: #dfdfdf;
  border-style: solid;
  border-width: 1px;
  color: #333333;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-weight: 300;
  padding: 0.125rem 0.3125rem 0.0625rem; }

/* Lists */
ul,
ol,
dl {
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.5;
  list-style-position: outside;
  margin-bottom: 1.25rem; }

ul {
  margin-left: 1.1rem; }
  ul.no-bullet {
    margin-left: 0; }
    ul.no-bullet li ul,
    ul.no-bullet li ol {
      margin-left: 1.25rem;
      margin-bottom: 0;
      list-style: none; }

/* Unordered Lists */
ul li ul,
ul li ol {
  margin-left: 1.25rem;
  margin-bottom: 0; }

ul.square li ul,
ul.circle li ul,
ul.disc li ul {
  list-style: inherit; }

ul.square {
  list-style-type: square;
  margin-left: 1.1rem; }

ul.circle {
  list-style-type: circle;
  margin-left: 1.1rem; }

ul.disc {
  list-style-type: disc;
  margin-left: 1.1rem; }

ul.no-bullet {
  list-style: none; }

/* Ordered Lists */
ol {
  margin-left: 1.4rem; }
  ol li ul,
  ol li ol {
    margin-left: 1.25rem;
    margin-bottom: 0; }

/* Definition Lists */
dl dt {
  margin-bottom: 0.3rem;
  font-weight: 700; }

dl dd {
  margin-bottom: 0.75rem; }

/* Abbreviations */
abbr,
acronym {
  text-transform: uppercase;
  font-size: 90%;
  color: #5D5C59;
  cursor: help; }

abbr {
  text-transform: none; }
  abbr[title] {
    border-bottom: 1px dotted #DDDDDD; }

/* Blockquotes */
blockquote {
  margin: 0 0 1.25rem;
  padding: 0.5625rem 1.25rem 0 1.1875rem;
  border-left: 1px solid #DDDDDD; }
  blockquote cite {
    display: block;
    font-size: 0.8125rem;
    color: #555555; }
    blockquote cite:before {
      content: "\2014 \0020"; }
    blockquote cite a,
    blockquote cite a:visited {
      color: #555555; }

blockquote,
blockquote p {
  line-height: 1.5;
  color: #6f6f6f; }

/* Microformats */
.vcard {
  display: inline-block;
  margin: 0 0 1.25rem 0;
  border: 1px solid #DDDDDD;
  padding: 0.625rem 0.75rem; }
  .vcard li {
    margin: 0;
    display: block; }
  .vcard .fn {
    font-weight: 700;
    font-size: 0.9375rem; }

.vevent .summary {
  font-weight: 700; }

.vevent abbr {
  cursor: default;
  text-decoration: none;
  font-weight: 700;
  border: none;
  padding: 0 0.0625rem; }

@media only screen and (min-width: 40.0625em) {
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.4; }
  h1 {
    font-size: 2.75rem; }
  h2 {
    font-size: 2.3125rem; }
  h3 {
    font-size: 1.6875rem; }
  h4 {
    font-size: 1.4375rem; }
  h5 {
    font-size: 1.125rem; }
  h6 {
    font-size: 1rem; } }

.row {
  margin: 0 auto;
  max-width: 62.5rem;
  width: 100%; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }
  .row.collapse > .column,
  .row.collapse > .columns {
    padding-left: 0;
    padding-right: 0; }
  .row.collapse .row {
    margin-left: 0;
    margin-right: 0; }
  .row .row {
    margin: 0 -0.9375rem;
    max-width: none;
    width: auto; }
    .row .row:before, .row .row:after {
      content: " ";
      display: table; }
    .row .row:after {
      clear: both; }
    .row .row.collapse {
      margin: 0;
      max-width: none;
      width: auto; }
      .row .row.collapse:before, .row .row.collapse:after {
        content: " ";
        display: table; }
      .row .row.collapse:after {
        clear: both; }

.column,
.columns {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 100%;
  float: left; }

.column + .column:last-child,
.columns + .columns:last-child {
  float: right; }

.column + .column.end,
.columns + .columns.end {
  float: left; }

@media only screen {
  .small-push-0 {
    position: relative;
    left: 0;
    right: auto; }
  .small-pull-0 {
    position: relative;
    right: 0;
    left: auto; }
  .small-push-1 {
    position: relative;
    left: 8.3333333333%;
    right: auto; }
  .small-pull-1 {
    position: relative;
    right: 8.3333333333%;
    left: auto; }
  .small-push-2 {
    position: relative;
    left: 16.6666666667%;
    right: auto; }
  .small-pull-2 {
    position: relative;
    right: 16.6666666667%;
    left: auto; }
  .small-push-3 {
    position: relative;
    left: 25%;
    right: auto; }
  .small-pull-3 {
    position: relative;
    right: 25%;
    left: auto; }
  .small-push-4 {
    position: relative;
    left: 33.3333333333%;
    right: auto; }
  .small-pull-4 {
    position: relative;
    right: 33.3333333333%;
    left: auto; }
  .small-push-5 {
    position: relative;
    left: 41.6666666667%;
    right: auto; }
  .small-pull-5 {
    position: relative;
    right: 41.6666666667%;
    left: auto; }
  .small-push-6 {
    position: relative;
    left: 50%;
    right: auto; }
  .small-pull-6 {
    position: relative;
    right: 50%;
    left: auto; }
  .small-push-7 {
    position: relative;
    left: 58.3333333333%;
    right: auto; }
  .small-pull-7 {
    position: relative;
    right: 58.3333333333%;
    left: auto; }
  .small-push-8 {
    position: relative;
    left: 66.6666666667%;
    right: auto; }
  .small-pull-8 {
    position: relative;
    right: 66.6666666667%;
    left: auto; }
  .small-push-9 {
    position: relative;
    left: 75%;
    right: auto; }
  .small-pull-9 {
    position: relative;
    right: 75%;
    left: auto; }
  .small-push-10 {
    position: relative;
    left: 83.3333333333%;
    right: auto; }
  .small-pull-10 {
    position: relative;
    right: 83.3333333333%;
    left: auto; }
  .small-push-11 {
    position: relative;
    left: 91.6666666667%;
    right: auto; }
  .small-pull-11 {
    position: relative;
    right: 91.6666666667%;
    left: auto; }
  .column,
  .columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left; }
  .small-1 {
    width: 8.3333333333%; }
  .small-2 {
    width: 16.6666666667%; }
  .small-3 {
    width: 25%; }
  .small-4 {
    width: 33.3333333333%; }
  .small-5 {
    width: 41.6666666667%; }
  .small-6 {
    width: 50%; }
  .small-7 {
    width: 58.3333333333%; }
  .small-8 {
    width: 66.6666666667%; }
  .small-9 {
    width: 75%; }
  .small-10 {
    width: 83.3333333333%; }
  .small-11 {
    width: 91.6666666667%; }
  .small-12 {
    width: 100%; }
  .small-offset-0 {
    margin-left: 0 !important; }
  .small-offset-1 {
    margin-left: 8.3333333333% !important; }
  .small-offset-2 {
    margin-left: 16.6666666667% !important; }
  .small-offset-3 {
    margin-left: 25% !important; }
  .small-offset-4 {
    margin-left: 33.3333333333% !important; }
  .small-offset-5 {
    margin-left: 41.6666666667% !important; }
  .small-offset-6 {
    margin-left: 50% !important; }
  .small-offset-7 {
    margin-left: 58.3333333333% !important; }
  .small-offset-8 {
    margin-left: 66.6666666667% !important; }
  .small-offset-9 {
    margin-left: 75% !important; }
  .small-offset-10 {
    margin-left: 83.3333333333% !important; }
  .small-offset-11 {
    margin-left: 91.6666666667% !important; }
  .small-reset-order {
    float: left;
    left: auto;
    margin-left: 0;
    margin-right: 0;
    right: auto; }
  .column.small-centered,
  .columns.small-centered {
    margin-left: auto;
    margin-right: auto;
    float: none; }
  .column.small-uncentered,
  .columns.small-uncentered {
    float: left;
    margin-left: 0;
    margin-right: 0; }
  .column.small-centered:last-child,
  .columns.small-centered:last-child {
    float: none; }
  .column.small-uncentered:last-child,
  .columns.small-uncentered:last-child {
    float: left; }
  .column.small-uncentered.opposite,
  .columns.small-uncentered.opposite {
    float: right; }
  .row.small-collapse > .column,
  .row.small-collapse > .columns {
    padding-left: 0;
    padding-right: 0; }
  .row.small-collapse .row {
    margin-left: 0;
    margin-right: 0; }
  .row.small-uncollapse > .column,
  .row.small-uncollapse > .columns {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left; } }

@media only screen and (min-width: 40.0625em) {
  .medium-push-0 {
    position: relative;
    left: 0;
    right: auto; }
  .medium-pull-0 {
    position: relative;
    right: 0;
    left: auto; }
  .medium-push-1 {
    position: relative;
    left: 8.3333333333%;
    right: auto; }
  .medium-pull-1 {
    position: relative;
    right: 8.3333333333%;
    left: auto; }
  .medium-push-2 {
    position: relative;
    left: 16.6666666667%;
    right: auto; }
  .medium-pull-2 {
    position: relative;
    right: 16.6666666667%;
    left: auto; }
  .medium-push-3 {
    position: relative;
    left: 25%;
    right: auto; }
  .medium-pull-3 {
    position: relative;
    right: 25%;
    left: auto; }
  .medium-push-4 {
    position: relative;
    left: 33.3333333333%;
    right: auto; }
  .medium-pull-4 {
    position: relative;
    right: 33.3333333333%;
    left: auto; }
  .medium-push-5 {
    position: relative;
    left: 41.6666666667%;
    right: auto; }
  .medium-pull-5 {
    position: relative;
    right: 41.6666666667%;
    left: auto; }
  .medium-push-6 {
    position: relative;
    left: 50%;
    right: auto; }
  .medium-pull-6 {
    position: relative;
    right: 50%;
    left: auto; }
  .medium-push-7 {
    position: relative;
    left: 58.3333333333%;
    right: auto; }
  .medium-pull-7 {
    position: relative;
    right: 58.3333333333%;
    left: auto; }
  .medium-push-8 {
    position: relative;
    left: 66.6666666667%;
    right: auto; }
  .medium-pull-8 {
    position: relative;
    right: 66.6666666667%;
    left: auto; }
  .medium-push-9 {
    position: relative;
    left: 75%;
    right: auto; }
  .medium-pull-9 {
    position: relative;
    right: 75%;
    left: auto; }
  .medium-push-10 {
    position: relative;
    left: 83.3333333333%;
    right: auto; }
  .medium-pull-10 {
    position: relative;
    right: 83.3333333333%;
    left: auto; }
  .medium-push-11 {
    position: relative;
    left: 91.6666666667%;
    right: auto; }
  .medium-pull-11 {
    position: relative;
    right: 91.6666666667%;
    left: auto; }
  .column,
  .columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left; }
  .medium-1 {
    width: 8.3333333333%; }
  .medium-2 {
    width: 16.6666666667%; }
  .medium-3 {
    width: 25%; }
  .medium-4 {
    width: 33.3333333333%; }
  .medium-5 {
    width: 41.6666666667%; }
  .medium-6 {
    width: 50%; }
  .medium-7 {
    width: 58.3333333333%; }
  .medium-8 {
    width: 66.6666666667%; }
  .medium-9 {
    width: 75%; }
  .medium-10 {
    width: 83.3333333333%; }
  .medium-11 {
    width: 91.6666666667%; }
  .medium-12 {
    width: 100%; }
  .medium-offset-0 {
    margin-left: 0 !important; }
  .medium-offset-1 {
    margin-left: 8.3333333333% !important; }
  .medium-offset-2 {
    margin-left: 16.6666666667% !important; }
  .medium-offset-3 {
    margin-left: 25% !important; }
  .medium-offset-4 {
    margin-left: 33.3333333333% !important; }
  .medium-offset-5 {
    margin-left: 41.6666666667% !important; }
  .medium-offset-6 {
    margin-left: 50% !important; }
  .medium-offset-7 {
    margin-left: 58.3333333333% !important; }
  .medium-offset-8 {
    margin-left: 66.6666666667% !important; }
  .medium-offset-9 {
    margin-left: 75% !important; }
  .medium-offset-10 {
    margin-left: 83.3333333333% !important; }
  .medium-offset-11 {
    margin-left: 91.6666666667% !important; }
  .medium-reset-order {
    float: left;
    left: auto;
    margin-left: 0;
    margin-right: 0;
    right: auto; }
  .column.medium-centered,
  .columns.medium-centered {
    margin-left: auto;
    margin-right: auto;
    float: none; }
  .column.medium-uncentered,
  .columns.medium-uncentered {
    float: left;
    margin-left: 0;
    margin-right: 0; }
  .column.medium-centered:last-child,
  .columns.medium-centered:last-child {
    float: none; }
  .column.medium-uncentered:last-child,
  .columns.medium-uncentered:last-child {
    float: left; }
  .column.medium-uncentered.opposite,
  .columns.medium-uncentered.opposite {
    float: right; }
  .row.medium-collapse > .column,
  .row.medium-collapse > .columns {
    padding-left: 0;
    padding-right: 0; }
  .row.medium-collapse .row {
    margin-left: 0;
    margin-right: 0; }
  .row.medium-uncollapse > .column,
  .row.medium-uncollapse > .columns {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left; }
  .push-0 {
    position: relative;
    left: 0;
    right: auto; }
  .pull-0 {
    position: relative;
    right: 0;
    left: auto; }
  .push-1 {
    position: relative;
    left: 8.3333333333%;
    right: auto; }
  .pull-1 {
    position: relative;
    right: 8.3333333333%;
    left: auto; }
  .push-2 {
    position: relative;
    left: 16.6666666667%;
    right: auto; }
  .pull-2 {
    position: relative;
    right: 16.6666666667%;
    left: auto; }
  .push-3 {
    position: relative;
    left: 25%;
    right: auto; }
  .pull-3 {
    position: relative;
    right: 25%;
    left: auto; }
  .push-4 {
    position: relative;
    left: 33.3333333333%;
    right: auto; }
  .pull-4 {
    position: relative;
    right: 33.3333333333%;
    left: auto; }
  .push-5 {
    position: relative;
    left: 41.6666666667%;
    right: auto; }
  .pull-5 {
    position: relative;
    right: 41.6666666667%;
    left: auto; }
  .push-6 {
    position: relative;
    left: 50%;
    right: auto; }
  .pull-6 {
    position: relative;
    right: 50%;
    left: auto; }
  .push-7 {
    position: relative;
    left: 58.3333333333%;
    right: auto; }
  .pull-7 {
    position: relative;
    right: 58.3333333333%;
    left: auto; }
  .push-8 {
    position: relative;
    left: 66.6666666667%;
    right: auto; }
  .pull-8 {
    position: relative;
    right: 66.6666666667%;
    left: auto; }
  .push-9 {
    position: relative;
    left: 75%;
    right: auto; }
  .pull-9 {
    position: relative;
    right: 75%;
    left: auto; }
  .push-10 {
    position: relative;
    left: 83.3333333333%;
    right: auto; }
  .pull-10 {
    position: relative;
    right: 83.3333333333%;
    left: auto; }
  .push-11 {
    position: relative;
    left: 91.6666666667%;
    right: auto; }
  .pull-11 {
    position: relative;
    right: 91.6666666667%;
    left: auto; } }

@media only screen and (min-width: 64.0625em) {
  .large-push-0 {
    position: relative;
    left: 0;
    right: auto; }
  .large-pull-0 {
    position: relative;
    right: 0;
    left: auto; }
  .large-push-1 {
    position: relative;
    left: 8.3333333333%;
    right: auto; }
  .large-pull-1 {
    position: relative;
    right: 8.3333333333%;
    left: auto; }
  .large-push-2 {
    position: relative;
    left: 16.6666666667%;
    right: auto; }
  .large-pull-2 {
    position: relative;
    right: 16.6666666667%;
    left: auto; }
  .large-push-3 {
    position: relative;
    left: 25%;
    right: auto; }
  .large-pull-3 {
    position: relative;
    right: 25%;
    left: auto; }
  .large-push-4 {
    position: relative;
    left: 33.3333333333%;
    right: auto; }
  .large-pull-4 {
    position: relative;
    right: 33.3333333333%;
    left: auto; }
  .large-push-5 {
    position: relative;
    left: 41.6666666667%;
    right: auto; }
  .large-pull-5 {
    position: relative;
    right: 41.6666666667%;
    left: auto; }
  .large-push-6 {
    position: relative;
    left: 50%;
    right: auto; }
  .large-pull-6 {
    position: relative;
    right: 50%;
    left: auto; }
  .large-push-7 {
    position: relative;
    left: 58.3333333333%;
    right: auto; }
  .large-pull-7 {
    position: relative;
    right: 58.3333333333%;
    left: auto; }
  .large-push-8 {
    position: relative;
    left: 66.6666666667%;
    right: auto; }
  .large-pull-8 {
    position: relative;
    right: 66.6666666667%;
    left: auto; }
  .large-push-9 {
    position: relative;
    left: 75%;
    right: auto; }
  .large-pull-9 {
    position: relative;
    right: 75%;
    left: auto; }
  .large-push-10 {
    position: relative;
    left: 83.3333333333%;
    right: auto; }
  .large-pull-10 {
    position: relative;
    right: 83.3333333333%;
    left: auto; }
  .large-push-11 {
    position: relative;
    left: 91.6666666667%;
    right: auto; }
  .large-pull-11 {
    position: relative;
    right: 91.6666666667%;
    left: auto; }
  .column,
  .columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left; }
  .large-1 {
    width: 8.3333333333%; }
  .large-2 {
    width: 16.6666666667%; }
  .large-3 {
    width: 25%; }
  .large-4 {
    width: 33.3333333333%; }
  .large-5 {
    width: 41.6666666667%; }
  .large-6 {
    width: 50%; }
  .large-7 {
    width: 58.3333333333%; }
  .large-8 {
    width: 66.6666666667%; }
  .large-9 {
    width: 75%; }
  .large-10 {
    width: 83.3333333333%; }
  .large-11 {
    width: 91.6666666667%; }
  .large-12 {
    width: 100%; }
  .large-offset-0 {
    margin-left: 0 !important; }
  .large-offset-1 {
    margin-left: 8.3333333333% !important; }
  .large-offset-2 {
    margin-left: 16.6666666667% !important; }
  .large-offset-3 {
    margin-left: 25% !important; }
  .large-offset-4 {
    margin-left: 33.3333333333% !important; }
  .large-offset-5 {
    margin-left: 41.6666666667% !important; }
  .large-offset-6 {
    margin-left: 50% !important; }
  .large-offset-7 {
    margin-left: 58.3333333333% !important; }
  .large-offset-8 {
    margin-left: 66.6666666667% !important; }
  .large-offset-9 {
    margin-left: 75% !important; }
  .large-offset-10 {
    margin-left: 83.3333333333% !important; }
  .large-offset-11 {
    margin-left: 91.6666666667% !important; }
  .large-reset-order {
    float: left;
    left: auto;
    margin-left: 0;
    margin-right: 0;
    right: auto; }
  .column.large-centered,
  .columns.large-centered {
    margin-left: auto;
    margin-right: auto;
    float: none; }
  .column.large-uncentered,
  .columns.large-uncentered {
    float: left;
    margin-left: 0;
    margin-right: 0; }
  .column.large-centered:last-child,
  .columns.large-centered:last-child {
    float: none; }
  .column.large-uncentered:last-child,
  .columns.large-uncentered:last-child {
    float: left; }
  .column.large-uncentered.opposite,
  .columns.large-uncentered.opposite {
    float: right; }
  .row.large-collapse > .column,
  .row.large-collapse > .columns {
    padding-left: 0;
    padding-right: 0; }
  .row.large-collapse .row {
    margin-left: 0;
    margin-right: 0; }
  .row.large-uncollapse > .column,
  .row.large-uncollapse > .columns {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left; }
  .push-0 {
    position: relative;
    left: 0;
    right: auto; }
  .pull-0 {
    position: relative;
    right: 0;
    left: auto; }
  .push-1 {
    position: relative;
    left: 8.3333333333%;
    right: auto; }
  .pull-1 {
    position: relative;
    right: 8.3333333333%;
    left: auto; }
  .push-2 {
    position: relative;
    left: 16.6666666667%;
    right: auto; }
  .pull-2 {
    position: relative;
    right: 16.6666666667%;
    left: auto; }
  .push-3 {
    position: relative;
    left: 25%;
    right: auto; }
  .pull-3 {
    position: relative;
    right: 25%;
    left: auto; }
  .push-4 {
    position: relative;
    left: 33.3333333333%;
    right: auto; }
  .pull-4 {
    position: relative;
    right: 33.3333333333%;
    left: auto; }
  .push-5 {
    position: relative;
    left: 41.6666666667%;
    right: auto; }
  .pull-5 {
    position: relative;
    right: 41.6666666667%;
    left: auto; }
  .push-6 {
    position: relative;
    left: 50%;
    right: auto; }
  .pull-6 {
    position: relative;
    right: 50%;
    left: auto; }
  .push-7 {
    position: relative;
    left: 58.3333333333%;
    right: auto; }
  .pull-7 {
    position: relative;
    right: 58.3333333333%;
    left: auto; }
  .push-8 {
    position: relative;
    left: 66.6666666667%;
    right: auto; }
  .pull-8 {
    position: relative;
    right: 66.6666666667%;
    left: auto; }
  .push-9 {
    position: relative;
    left: 75%;
    right: auto; }
  .pull-9 {
    position: relative;
    right: 75%;
    left: auto; }
  .push-10 {
    position: relative;
    left: 83.3333333333%;
    right: auto; }
  .pull-10 {
    position: relative;
    right: 83.3333333333%;
    left: auto; }
  .push-11 {
    position: relative;
    left: 91.6666666667%;
    right: auto; }
  .pull-11 {
    position: relative;
    right: 91.6666666667%;
    left: auto; } }

/* Progress Bar */
.progress {
  background-color: #f0efe7;
  border: 1px none #f0efe7;
  height: 1.875rem;
  margin-bottom: 0.625rem;
  padding: 0.125rem; }
  .progress .meter {
    background: #008CBA;
    display: block;
    height: 100%; }
  .progress.secondary .meter {
    background: #e7e7e7;
    display: block;
    height: 100%; }
  .progress.success .meter {
    background: #43AC6A;
    display: block;
    height: 100%; }
  .progress.alert .meter {
    background: #f04124;
    display: block;
    height: 100%; }
  .progress.radius {
    border-radius: 3px; }
    .progress.radius .meter {
      border-radius: 2px; }
  .progress.round {
    border-radius: 1000px; }
    .progress.round .meter {
      border-radius: 999px; }

html, body {
  height: 100%;
  line-height: 1.7; }
  html a, body a {
    color: #0388a6; }
  html p, body p {
    font-weight: 300; }

section {
  margin: 0 auto;
  max-width: 62.5rem;
  width: 100%;
  padding-top: 2em;
  padding-bottom: 2em;
  margin: 0 auto; }
  section:before, section:after {
    content: " ";
    display: table; }
  section:after {
    clear: both; }
  section aside {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 100%;
    float: left;
    margin-bottom: 1em; }
    @media only screen and (min-width: 64.0625em) {
      section aside {
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
        width: 25%;
        float: left; } }
    section aside h2 {
      margin-top: 0;
      margin-bottom: 0.5em;
      font-weight: 700;
      text-align: center; }
      @media only screen and (min-width: 64.0625em) {
        section aside h2 {
          text-align: left; } }
  section article {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 100%;
    float: left; }
    @media only screen and (min-width: 64.0625em) {
      section article {
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
        width: 75%;
        float: left; } }
    section article h3 {
      margin-top: 0; }
    section article p {
      margin-bottom: 1.5em; }

.profile-summary {
  height: 100%;
  text-align: center;
  display: table;
  padding-top: 0; }
  .profile-summary article {
    display: table-cell;
    vertical-align: middle;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 100%;
    float: left;
    float: none; }
  .profile-summary .name {
    font-weight: 700;
    margin-bottom: 0.6em; }
  .profile-summary .description {
    font-style: italic;
    margin-left: auto;
    margin-right: auto; }
  @media only screen and (min-width: 64.0625em) {
    .profile-summary .description {
      font-size: 1.25em; } }
  .profile-summary .social {
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 1em;
    margin-top: 2em; }
    .profile-summary .social li {
      list-style: none;
      display: inline; }
    .profile-summary .social i.fa {
      color: #d75330;
      font-size: 2em; }
      .profile-summary .social i.fa.fa-fw {
        width: 1.20em; }
      @media only screen and (min-width: 64.0625em) {
        .profile-summary .social i.fa {
          font-size: 3em; }
          .profile-summary .social i.fa.fa-fw {
            width: 1.5em; } }
  .profile-summary nav {
    font-weight: 500;
    margin-top: 5em; }
    .profile-summary nav .scroll {
      font-size: 0.70em;
      margin-bottom: 2em; }
    .profile-summary nav ul {
      font-size: 0.70em;
      list-style: none;
      padding-left: 0;
      margin-left: 0; }
      @media only screen and (min-width: 64.0625em) {
        .profile-summary nav ul {
          font-size: 1.25em; } }
      .profile-summary nav ul li {
        display: inline-block;
        padding: 0.3em 0.7em; }
        @media only screen and (min-width: 64.0625em) {
          .profile-summary nav ul li {
            margin-left: 1em;
            margin-right: 1em; } }
        .profile-summary nav ul li a {
          color: #5D5C59; }
        .profile-summary nav ul li:hover a {
          text-decoration: none; }
        .profile-summary nav ul li:hover i.fa {
          color: #5D5C59; }
    .profile-summary nav i.fa {
      color: #bab8b2; }
      .profile-summary nav i.fa.fa-5x {
        font-size: 3em; }
        .profile-summary nav i.fa.fa-5x.fa-fw {
          width: 1em; }
        @media only screen and (min-width: 64.0625em) {
          .profile-summary nav i.fa.fa-5x {
            font-size: 5em; }
            .profile-summary nav i.fa.fa-5x.fa-fw {
              width: 1.25em; } }

.about {
  background-color: #5D5C59;
  color: #f0efe7; }
  .about a {
    color: #d75330; }
  .about h2 {
    color: #f0efe7;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 100%;
    float: left;
    padding-left: 0;
    padding-right: 0; }
  .about div.profile-photo {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 41.6666666667%;
    float: left;
    text-align: center; }
    @media only screen and (min-width: 64.0625em) {
      .about div.profile-photo {
        text-align: left;
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
        width: 100%;
        float: left; } }
  .about img {
    border: 4px solid #f0efe7;
    border-radius: 50%;
    text-align: center; }
  .about .details {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 58.3333333333%;
    float: left;
    margin-top: 0.5em; }
    @media only screen and (min-width: 64.0625em) {
      .about .details {
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
        width: 100%;
        float: left;
        margin-top: 1em; } }
    .about .details ul {
      list-style: none;
      padding-left: 0;
      margin-left: 0;
      font-size: 1em;
      margin-bottom: 0; }
      .about .details ul li > i {
        margin-right: 0.7em; }
  .about p {
    text-align: justify; }
  .about .download {
    margin-top: 1.5em;
    margin-bottom: 2em;
    background-color: #e2e0d8;
    color: #5D5C59; }
    .about .download i {
      margin-right: 0.5em; }

.expertise {
  background-color: #e2e0d8;
  color: #5D5C59; }
  .expertise .details {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 100%;
    float: left;
    font-size: 1em; }
  .expertise .skills {
    margin: 0 -0.9375rem;
    max-width: none;
    width: auto; }
    .expertise .skills:before, .expertise .skills:after {
      content: " ";
      display: table; }
    .expertise .skills:after {
      clear: both; }
    .expertise .skills .skills-col {
      padding-left: 0.9375rem;
      padding-right: 0.9375rem;
      width: 100%;
      float: left; }
      @media only screen and (min-width: 64.0625em) {
        .expertise .skills .skills-col {
          padding-left: 0.9375rem;
          padding-right: 0.9375rem;
          width: 50%;
          float: left; } }
      .expertise .skills .skills-col .skills-cat {
        margin-bottom: 3em; }
        .expertise .skills .skills-col .skills-cat .skill {
          background-color: #f0efe7;
          border: 1px none #f0efe7;
          height: 1.875rem;
          margin-bottom: 0.625rem;
          padding: 0.125rem;
          font-size: 0.95em; }
          .expertise .skills .skills-col .skills-cat .skill > span {
            background: #d75330;
            display: block;
            height: 100%;
            text-transform: uppercase;
            font-weight: 500;
            text-align: left;
            padding-left: 1em;
            color: #222222; }

.experience .exp, .experience .edu, .education .exp, .education .edu {
  margin: 0 -0.9375rem;
  max-width: none;
  width: auto; }
  .experience .exp:before, .experience .exp:after, .experience .edu:before, .experience .edu:after, .education .exp:before, .education .exp:after, .education .edu:before, .education .edu:after {
    content: " ";
    display: table; }
  .experience .exp:after, .experience .edu:after, .education .exp:after, .education .edu:after {
    clear: both; }
  .experience .exp .details, .experience .edu .details, .education .exp .details, .education .edu .details {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 100%;
    float: left; }
    @media only screen and (min-width: 64.0625em) {
      .experience .exp .details, .experience .edu .details, .education .exp .details, .education .edu .details {
        position: relative;
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
        width: 75%;
        right: 25%;
        left: auto;
        float: left; } }
    .experience .exp .details .company, .experience .exp .details .school, .experience .edu .details .company, .experience .edu .details .school, .education .exp .details .company, .education .exp .details .school, .education .edu .details .company, .education .edu .details .school {
      margin-bottom: 1.5em;
      font-weight: 500; }
    .experience .exp .details .description p, .experience .edu .details .description p, .education .exp .details .description p, .education .edu .details .description p {
      margin-bottom: 1em; }
  .experience .exp .date, .experience .edu .date, .education .exp .date, .education .edu .date {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 100%;
    float: left;
    font-size: 0.93em;
    margin-bottom: 1em; }
    @media only screen and (min-width: 64.0625em) {
      .experience .exp .date, .experience .edu .date, .education .exp .date, .education .edu .date {
        position: relative;
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
        width: 25%;
        left: 75%;
        right: auto;
        float: left; } }

.experience {
  background-color: #0388a6;
  color: #f0efe7; }
  .experience .exp {
    margin-bottom: 2em; }
    .experience .exp a, .experience .exp a:hover, .experience .exp a:visited {
      color: #5D5C59; }

.education {
  background-color: #e2e0d8;
  color: #5D5C59; }
  .education .edu {
    margin-bottom: 2em; }
