@import "settings";

// Allows the use of rem-calc() or lower-bound() in your settings
@import "foundation/functions";

@import "foundation/components/type",
        "foundation/components/grid",
        "foundation/components/progress-bars";

@mixin flat() {
  padding-left: 0;
  margin-left: 0;

  & li {
    list-style: none;
    display: inline;
  }
}

html, body {
  height: 100%;
  line-height: 1.7;

  a {
    color: $blue;
  }

  p {
    font-weight: 300;
  }
}

section {
  @include grid-row();

  padding-top: 2em;
  padding-bottom: 2em;
  margin: 0 auto;

  aside {
    @include grid-column(12);
    margin-bottom: 1em;

    @media #{$large-up} {
      @include grid-column(3);
    }

    h2 {
      margin-top: 0;
      margin-bottom: 0.5em;
      font-weight: 700;
      text-align: center;

      @media #{$large-up} {
        text-align: left;
      }
    }
  }

  article {
    @include grid-column(12);

    @media #{$large-up} {
      @include grid-column(9);
    }

    h3 {
      margin-top: 0;
    }

    p {
      margin-bottom: 1.5em;
    }
  }
}

.profile-summary {
  height: 100%;
  text-align: center;
  display: table;
  padding-top: 0;

  article {
    display: table-cell;
    vertical-align: middle;
    @include grid-column(12);
    float: none;
  }

  .name {
    font-weight: 700;
    margin-bottom: 0.6em;
  }

  .description {
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
  }

  .description {
    @media #{$large-up} {
      font-size: 1.25em;
    }
  }

  .social {
    @include flat();
    margin-bottom: 1em;
    margin-top: 2em;

    i.fa {
      color: $orange;

      font-size: 2em;
      &.fa-fw {
        width: 1.20em;
      }

      @media #{$large-up} {
        font-size: 3em;
        &.fa-fw {
          width: 1.5em;
        }
      }
    }
  }

  nav {
    font-weight: 500;
    margin-top: 3em;

    .scroll {
      font-size: 0.70em;
      margin-bottom: 2em;
    }

    ul {
      font-size: 0.70em;

      @media #{$large-up} {
        font-size: 1.25em;
      }

      list-style: none;
      padding-left: 0;
      margin-left: 0;

      li {
        display: inline-block;
        padding: 0.3em 0.7em;

        @media #{$large-up} {
          margin-left: 1em;
          margin-right: 1em;
        }

        border: solid 1px $light-gray;

        &:hover {
          a {
            text-decoration: none;
          }

          background-color: $mid-gray;

          i.fa {
            color: $white;
          }
        }
      }
    }

    i.fa {
      color: $mid-gray;

      &.fa-5x {
        font-size: 3em;
        &.fa-fw {
          width: 1em;
        }

        @media #{$large-up} {
          font-size: 5em;
          &.fa-fw {
            width: 1.25em;
          }
        }
      }
    }
  }
}

.about {
  background-color: $dark-gray;
  color: $white;

  a {
    color: $orange;
  }

  h2 {
    color: $white;
    @include grid-column(12);
    padding-left: 0;
    padding-right: 0;
  }

  div.profile-photo {
    @include grid-column(5);
    text-align: center;

    @media #{$large-up} {
      text-align: left;
      @include grid-column(12);
    }
  }

  img {
    border: 4px solid $white;
    border-radius: 50%;
    text-align: center;
  }

  .details {
    @include grid-column(7);

    @media #{$large-up} {
      @include grid-column(12);
      margin-top: 1em;
    }

    margin-top: 0.5em;

    ul {
      list-style: none;
      padding-left: 0;
      margin-left: 0;
      font-size: 1em;
      margin-bottom: 0;

      li > i {
        margin-right: 0.7em;
      }
    }
  }

  p {
    text-align: justify;
  }

  .download {
    margin-top: 1.5em;
    margin-bottom: 2em;
    background-color: $light-gray;
    color: $dark-gray;

    i {
      margin-right: 0.5em;
    }
  }
}

.expertise {
  background-color: $light-gray;
  color: $dark-gray;

  .details {
    @include grid-column(12);
    font-size: 1em;
  }

  .skills {
    @include grid-row(nest);

    .skills-col {
      @include grid-column(12);

      @media #{$large-up} {
        @include grid-column(6);
      }

      .skills-cat {
        margin-bottom: 3em;

        .skill {
          @include progress-container;
          font-size: 0.95em;

          & > span {
            @include progress-meter($orange);
            text-transform: uppercase;
            font-weight: 500;
            text-align: left;
            padding-left: 1em;
            color: $jet;
          }
        }
      }
    }
  }
}

.experience, .education {

  .exp, .edu {
    @include grid-row(nest);

    .details {
      @include grid-column(12);

      @media #{$large-up} {
        @include grid-column($columns:9,$pull:3,$position:relative);
      }

      .company, .school {
        margin-bottom: 1.5em;
        font-weight: 500;
      }

      .description p {
        margin-bottom: 1em;
      }
    }

    .date {
      @include grid-column(12);
      font-size: 0.93em;
      margin-bottom: 1em;

      @media #{$large-up} {
        @include grid-column($columns:3,$push:9,$position:relative);
      }
    }
  }
}

.experience {
  background-color: $blue;
  color: $white;

  .exp {
    margin-bottom: 2em;

    a, a:hover, a:visited {
      color: $dark-gray;
    }
  }
}

.education {
  background-color: $light-gray;
  color: $dark-gray;

  .edu {
    margin-bottom: 2em;
  }
}
