@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);

@import "settings";
@import "foundation/components/type";
@import "foundation/components/grid";
@import "foundation/components/buttons";

@charset "utf-8";

// Our variables
$base-font-family: $font-family-sans-serif;

$spacing-unit:     30px;

$text-color:       $dark-gray;
$background-color: $white;
$brand-color:      $blue;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        900px;



// Using media queries with like this:
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "base";
@import "layout";
@import "page";
@import "syntax-highlighting";
