<h4><a href="/ember/training/">Formation</a></h4>
    <ol>
        <li class="{% if page.url contains 'overview/' %}active{% endif %}"><a href="/ember/training/overview">Overview</a></li>
        <li class="{% if page.url contains 'object-model/' %}active{% endif %}"><a href="/ember/training/object-model">Modèle objet</a></li>
        <li class="{% if page.url contains 'run-loop/' %}active{% endif %}"><a href="/ember/training/run-loop">Run Loop</a></li>
        <li class="{% if page.url contains 'di/' %}active{% endif %}"><a href="/ember/training/di">Dependency injection</a></li>
        <li class="{% if page.url contains 'ember-cli/' %}active{% endif %}"><a href="/ember/training/ember-cli">Ember CLI</a></li>
        <li class="{% if page.url contains 'ember-data/' %}active{% endif %}"><a href="/ember/training/ember-data">Ember Data</a></li>
    </ol>
<h4>Liens utiles</h4>
<ul>
    <li><a href="http://emberjs.com/">Documentation officielle</a></li>
    <li><a href="http://www.ember-cli.com/">Ember CLI</a></li>
    <li><a href="http://www.emberaddons.com/">Ember addons</a></li>
</ul>