<h4><a href="/ember/training/">Formation</a></h4>
    <ol>
        <li class="{% if page.url == '/ember/training/' %}active{% endif %}"><a href="/ember/training/">Introduction</a></li>
        <li class="{% if page.url contains 'overview/' %}active{% endif %}"><a href="/ember/training/overview">Overview</a></li>
        <li class="{% if page.url contains 'underlyings/' %}active{% endif %}"><a href="/ember/training/underlyings">Mécanismes sous-jacents</a></li>
        <li class="{% if page.url contains 'ember-cli/' %}active{% endif %}"><a href="/ember/training/ember-cli">Ember CLI</a></li>
        <li class="{% if page.url contains 'templates/' %}active{% endif %}"><a href="/ember/training/templates">Templates, les bases</a></li>
        <li class="{% if page.url contains 'routing/' %}active{% endif %}"><a href="/ember/training/routing">Routing</a></li>
        <!--li class="{% if page.url contains 'ember-data/' %}active{% endif %}"><a href="/ember/training/ember-data">Ember Data</a></li-->
    </ol>
<h4>Liens utiles</h4>
<ul>
    <li><a href="http://emberjs.com/">Documentation officielle</a></li>
    <li><a href="http://www.ember-cli.com/">Ember CLI</a></li>
    <li><a href="http://www.emberaddons.com/">Ember addons</a></li>
</ul>