.hide-answers blockquote {
    display: none;
}

.page-content {
    padding-top: 30px;

    @include grid-row();

    .page-main {
        @include grid-column(12);
    }

    .page-menu {
        @include grid-column(12);
    }
}

.page-header {
    @include grid-row;

    .page-title {
        @include grid-column(9);

        border-bottom: 3px solid;
        padding-bottom: 10px;
    }

    .page-actions {
        @include grid-column(9);

        text-align: right;

        .toggle-answers {
            border-radius: 3px;
            margin: 5px 0 0 0;
            padding: 5px 10px;
            font-weight: 700;
            box-shadow: inset 0px 0px 5px #007095, 0px 4px 0px 1px #007095, 0px 6px 5px #999;

            &.active {
                box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.5);
            }

            &:hover {
                background-color: $brand-color;
            }

            &:focus {
                outline: none;
            }
        }
    }
}

@media #{$medium-up} {
    .page-content {
        .page-main {
            @include grid-column(9);
        }

        .page-menu {
            @include grid-column(3);
        }
    }
}

.page-menu {
    h4 {
        font-size: 16px;
        text-transform: uppercase;
        text-decoration: none;
        border-bottom: 2px solid $blue;
        padding-bottom: 5px;
        color: $dark-gray;

        a {
            color: $dark-gray !important;
        }
    }

    ol, ul {
        padding-bottom: 10px;
    }

    ol > li, ul > li {
        font-size: 16px;
        padding-left: 5px;

        &.active {
            background-color: #5D5C59;
            border-radius: 5px;

            a {
                color: $light-gray;
            }
        }
    }
}

.section-nav {
    @include grid-row();
    margin-top: 50px;

    .button {
        text-shadow: 0 -1px 0 $grey-color-dark;

        &.prev, &.next {
            padding: 15px;
        }

        &.prev .fa {
            padding-right: 5px;
        }

        &.next .fa {
            padding-left: 5px;
        }
    }
}

.button {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), inset 0 0 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    font-weight: 700;

    &.disabled, &.disabled:hover {
        background-color: $grey-color;
    }
}

blockquote code {
    font-style: normal;
}