$actions-color: #666;
$box-color: rgba(26,31,28,.08);
$emphasize-color: #027e80;
$strong-emphasize-color: #017072;
$smooth-emphasize-color: #a9d5d6;

:root {
    font-family: 'Roboto', 'Noto Sans TC', 'Noto Sans SC', 'Noto Sans HK', 'Noto Sans JP', 'Noto Sans', 'PingFang TC', 'Microsoft JhengHei', 'PMingLiU', sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color: #213547;
    background-color: #f8f8f8;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0.5em;
}

.langSelector {
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: top;

    &[name='fr'] {
        background-image: url("images/flag-fr.svg");
    }

    &[name='en'] {
        background-image: url("images/flag-en.svg");
    }
}

.action {
    background: none;
}

#profile {
    text-align: center;
}

.avatar {
    width: 125px;
    border-radius: 50%;
}

a {
    color: $emphasize-color;

    &:visited {
        color: $strong-emphasize-color;
    }
}

.list {
    list-style: none;
    margin:0;
    padding:0;
    display: inline-block;

    .list-item {
        display: inline-block;
    }
}

#wrapper {  
    padding-top: 2%;
    padding-bottom: 80px;
    
    margin-right: auto;
    margin-left: auto; 

    width: 100%;
    min-width: 300px;
}

#header {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    margin-bottom: 10px;
    padding: 0 2%;

    button {
        height: 16px;
        border: none;
        cursor: pointer;
    }

    i {
        color: $actions-color;
        cursor: pointer;
        font-size: 16px;
    }
}

#actions {
    padding-right: 15px;
    border-right: 2px solid $actions-color;
}

#langs {
    display: flex;
    align-items: center;
    padding-left: 10px;

    & > * {
        margin: 2px;
        margin-left: 5px;
        width: 20px;
    }
}

#resume {
    box-shadow: 0 2px 6px $box-color;
    background-color: white;
    padding-top: 1%;
    padding-bottom: 2%;
  
    & > * {
        padding: 0.5em;
        margin: 2% 0;
    }

    & > * > * {
        padding: 0 0.5em;
    }

    .inverse {
        color: white;
        background-color: $emphasize-color;
    }
}

#summary {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 0.5em;
}

#identity {
    #name {
        margin: 0;
        font-size: 1.7em;
        text-align: center;
    }

    #jobTitle {
        padding-top: 1em;
        font-weight: 500;
        color: $emphasize-color;
        font-size: 1em;
        text-align: center;
    }

    #description {
        font-size: 0.8em;
        padding-top: 1em;
        margin: 0;
    }
}

#profile {
    width: 100%;
}

#contact, .location, #time {
    i {
        color: $emphasize-color;
        padding-right: 0.2em;
    }
}

#location, #time {
    font-size: 1em;
}

#time {
    text-align: center;

    & > * {
        display: inline-block;
    }

    > div:first-of-type {
        margin-right: 1em;
    }
}

#location {
    text-align: center;               
    padding: 0 0.5em;
}

#contact {
    font-size: 1.2em;

    .social-link, #contactMe {
        display: none;
    }

    .email, .website, .phone {
        display: none;
    }
}

.title {
    font-size: 0.9em;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    padding-bottom: 1em;

    .label {
        width: auto;
        background-color: white;
        padding-right: 10px;

        i {
            padding-right: 0.2em;
            width: 1em;
        }
    }
}

.section-full {
    .title {
        position: relative;
        z-index: 1;
        width: 100%;
        color: $strong-emphasize-color;

        &:before {
            border-top: 2px solid $strong-emphasize-color;
            content:"";
            margin: 0 auto; /* this centers the line to the full width specified */
            position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
            top: 30%; left: 0; right: 0; bottom: 0;
            z-index: -1;
        }
    }
}

.inverse {
    .title {
        color: white;

        &:before {
            border-color: white;
        }
        .label {
            background-color: $emphasize-color;
        }
    }
}


.section-light {

    .title, p {
        display: inline-block;
    }

    .title {
        padding-top: 0;
        padding-bottom: 0.5em;
        width: 100%;
    }

    p {
        font-size: 0.8em;
        margin: 0;
        padding-left: 1.6em;
    }
}

#skills {
    .list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px 20px;

        .list-item {
           width: 90%;
        }
    }

    .skill-bar-wrapper {
        width: 100%;
        background-color: white;
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);

        .skill-bar {
            background-color: $smooth-emphasize-color;
            display: block;
            height: 10px;
        }
    }

    .skill-name {
        font-size: 0.8em;
    }

    .skill-exp {
        font-size: 0.7em;
        text-align: right;
    }

    .section-light {
        padding-top: 0.5em;
    }
}

.timeline {

    position: relative;
    padding-left: 2em;

    &::before {
        content: "";
        display: inline-block;
        width: 4px;
        background: $strong-emphasize-color;
        position: absolute;
        left: 46px;
        top: 22px;
        height: calc(100% - 10px);
    }

    list-style: none;
    margin: 0;

    .timeline-item {
        display: flex;
    }

    .timeline-item-logo {
        color: $strong-emphasize-color;
        font-size: 2em;
        padding-right: 0.5em;

        i {
            background-color: white;
            position: relative;
        }
    }

    .timeline-item-title {
        margin: 0;
        font-size: 1.2em;
    }

    .timeline-item-company {
        font-size: 0.9em;
        color: $strong-emphasize-color;
    }

    .timeline-item-date {
        float: right;
        font-size: 0.8em;
        background-color: $smooth-emphasize-color;
        padding: 2px 6px;
        border-radius: 5px;
        width: 170px;
    }

    .timeline-item-content-header {
        & > .timeline-item-date {
            background-color: $emphasize-color;
            color: white;
        }
    }

    .timeline-item-content-body {
        margin-top: 0.5em;
        p {
            margin: 0;
        }

        ul {
            padding-top: 0.2em;
              padding-bottom: 0.5em;
        }

        li {
            list-style: disc;
            font-size: 0.9em;
        }
    }

    .timeline-item-content {
        padding-bottom: 1em;
        width: 100%;

        .timeline-item-date, .timeline-item-sub-title {
            margin-top: 0.5em;
        }

        .timeline-item-sub-title {
            display: inline-block;
            padding-top: 0.5em;
            margin: 0;
        }

        .timeline-item-perimeter {
            font-size: 0.9em;
        }
    }
}

@media screen and (max-width: 450px) {
    #profile {
        order: 1;
    }

    #identity {
        order: 2;
    }

    #contact {
        order: 3;
    }
}


@media screen and (min-width: 451px) {

    #skills {
        .list {
            flex-wrap: wrap;
            height: 350px;

            .list-item {
                width: 45%;
            }
        }
    }
}

@media screen and (min-width: 650px) {

    #identity { 
        #name {
            font-size: 1.9em;
        }

        #jobTitle {
            font-size: 1.2em;
        }

        #description {
            font-size: 1em;
        }
    }

    #skills {
        .list {
            height: 230px;
    
            .list-item {
               width: 30%;
            }
        }
    }
}

@media screen and (min-width: 768px) {

    #resume {
        & > * {
            margin: 0;
            padding-bottom: 0.5em;
            margin-top: 0.5em;
        }
    }

    #identity {
        order: 1;
        width: 75%;

        #name {
            font-size: 2em;
            text-align: left;
        }

        #jobTitle {
            text-align: left;
        }
    }

    #profile {
        order: 2;
    }

    #time {
        text-align: left;
    }

    #contact {
        order: 3;
        font-size: 1.4em;
        padding-top: 0.5em;
    }

    #profile {
        flex-basis: 19%;
    }

    #skills {
        .list {
            height: 240px;
        }

        .skill-name {
            font-size: 0.9em;
        }

        .skill-exp {
            font-size: 0.8em;
        }

        padding-bottom: 1em;
    }

    .section-light p {
        font-size: 0.9em;
    }
}

@media screen and (min-width: 992px), print {

    .section-light {
        .title {
            width: 26%;
            padding: 0;
        }

        p {
            padding-left: 0;
        }
    }

    #profile {
        flex-basis: 20%;
    }

    #skills {       
        .list {
            height: 180px;
            
            .list-item {
               width: 23%;
            }
        }
    }
  }

@media screen and (min-width: 1200px) {

    #wrapper {
        width: 1140px;
    }

    #resume {
        & > * {
            margin-bottom: 0.5em;
        }
    }

    #identity {
        width: 81%;
    }

    #profile {
        flex-basis: 15%;
    }
}

@media print, screen and (min-width: 1600px) {

    :root {
        background-color: white;
        -webkit-print-color-adjust:exact !important;
        print-color-adjust:exact !important;
    }

    a {
        text-decoration: none;
    }

    .section-full {
        .title {
            font-size: 0.7em;
            padding-bottom: 0.5em;
        }
    }

    .section-light {
        padding-top: 0;

        .title {
            font-size: 0.6em;
            width: 25%;
        }

        p {
            font-size: 0.6em;
        }
    }
    
    #wrapper{
        padding: 0;
        margin: 0;
        width: 100%;
    }

    #header {
        display: none;
    }

    #resume {
        box-shadow: none;
        
        & > * {
            padding: 0.2em 0.5em;
        }

        & > * > * {
            padding: 0;
        }
    }

    #summary {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    #identity {
        order: 1;
        width: 77%;

        #name {
            font-size: 1.7em;
            text-align: left;
        }

        #time {
            text-align: left;
            font-size: 0.7em;
        }
        
        #jobTitle {
            font-size: 1em;
            text-align: left;
        }

        #description {
            font-size: 0.7em;
            padding-bottom: 0.5em;
        }
    }

    #profile {
        order: 2;
        flex-basis: 15%;

        #location {
            width: 100%;
            font-size: 0.7em;
        }
    }

    #contact {
        order: 3;
        font-size: 0.7em;
        width: 100%;

        .title {
            padding-bottom: 0;
        }

        .list {
            display: flex;
            flex-wrap: wrap;
            justify-content: left;
            margin-left: 20%;

            .list-item {
                display: inline-block;
                width: 50%;
            }
        }

        i {
            width: 16px;
            text-align: center;
        }

        .social-link, #contactMe {
            display: inline-block;
        }

        .email, .website, .phone {
            display: inline-block;
        }
    }

    #contactMe {
        position: relative;
        z-index: 1;
        width: 100%;

        &::before {
            border-top: 2px solid #017072;
            border-top-color: rgb(1, 112, 114);
            content: "";
            margin: 0 auto;
            position: absolute;
            top: 60%;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
        }
    }

    #skills {
        #main-skills {
            height: 120px;
            text-align: center;

            .list-item {
                font-size: 0.65em;
                text-align: left;
            }

            .skill-name {
                padding-bottom: 1%;
                font-size: 0.95em;
            }

            .skill-exp {
                font-size: 0.85em;
            }
        }

        .list {   
            display: block;

            .list-item {
                display: inline-block;
                width: 20%;
                margin: 0 2%;
            }
        }

        .section-light {

            .title {
                font-weight: 700;
            }

            padding-top: 0;
        }
    }
}

