$actions-color: #666;
$box-color: rgba(26,31,28,.08);
$emphasize-color: #027e80;
$strong-emphasize-color: #017072;

:root {
    font-family: 'Roboto', 'Noto Sans TC', 'Noto Sans SC', 'Noto Sans HK', 'Noto Sans JP', 'Noto Sans', 'PingFang TC', 'Microsoft JhengHei', 'PMingLiU', sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color: #213547;
    background-color: #f8f8f8;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

.langSelector {
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: top;

    &[name='fr'] {
        background-image: url("images/flag-fr.svg");
    }

    &[name='en'] {
        background-image: url("images/flag-en.svg");
    }
}

.action {
    background: none;
}

.avatar {
    width: 125px;
    border-radius: 50%;
}

a {
    color: $emphasize-color;

    &:visited {
        color: $strong-emphasize-color;
    }
}

ul.hlist {
    list-style: none;
    margin:0;
    padding:0;
    display: inline-block;

    li {
        display: inline-block;
    }
}

#wrapper {  
    padding-top: 2%;
    padding-bottom: 80px;
    
    margin-right: auto;
    margin-left: auto; 
}

#header {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    margin-bottom: 10px;

    button {
        height: 16px;
        border: none;
        cursor: pointer;
    }

    i {
        color: $actions-color;
        cursor: pointer;
        font-size: 16px;
    }
}

#actions {
    padding-right: 15px;
    border-right: 2px solid $actions-color;
}

#langs {
    display: flex;
    align-items: center;
    padding-left: 10px;

    & > * {
        margin: 2px;
        margin-left: 5px;
        width: 20px;
    }
}

#resume {
    box-shadow: 0 2px 6px $box-color;
    background-color: white;
    
    & > * {
        padding: 5%;
        padding-bottom: 2.5%;
    }

    #main-skills {
        background-color: #91b7a7;
    }
}

#summary {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 0.7em;

    & > * {
        padding: 0 10px;
    }
}

#identity {
    
    #name {
        margin: 0;
    }

    #jobTitle {
        font-weight: 500;
        color: $emphasize-color;
        font-style: normal;
    }

    #description {
        font-size: 0.8em;
        padding-top: 0.8em;
    }
}

#email {
    i {
        padding-right: 0;
    }
}

#location {
    text-align: center;               
}

#social, #location {
    font-size: 0.8em;

    i {
        color: $emphasize-color;
        font-size: 1em;
        padding-right: 0.2em;
    }
}


@media screen and (max-width: 576px) {
    #wrapper {
        width: 100%;
    }

    #avatar {
        order: 1;
        text-align: center;
        width: 100%;
    }

    #location {
        order: 2;

        font-size: 0.7em;
        width: 100%;     
    }

    #email {
        order: 3;
        width: 100%;

        text-align: center;
        font-size: 0.7em;
    }

    #social {
        order: 4;
        width: 100%;

        text-align: center;
    }

    #identity {
        order: 5;

        #name {
            font-size: 1.5em;
            text-align: center;
        }
    
        #jobTitle {
            font-style: normal;
            font-size: 1em;
            text-align: center;
        }
    }
}

@media screen and (min-width: 450px) and (max-width: 576px) {

    #social {
        order : 3;
        width: 30%;
        font-size: 1em;
    }

    #email {
        order: 4;
        width: 50%;
        font-size: 0.8em;
    }

    #location {
        font-size: 0.8em;   
    }
}

@media screen and (min-width: 576px) {

    #avatar {
        order: 1;
        text-align: center;
        width: 100%;
    }

    #location {
        order: 2;
        font-size: 1em;

        width: 100%; 
        text-align: center;
    }

    #identity {
        order: 3;
    }

    #social {
        order: 4;
        font-size: 1em;
    }

    #email {
        order: 5;
        font-size: 0.8em;
    }
}

@media screen and (min-width: 768px) {

    #social {
        font-size: 1.2em;
    }

    #email {
        font-size: 0.9em;
    }
}

@media screen and (min-width: 992px) {

    #identity {
        order: 1;
        width: 78%;

        #name {
            font-size: 2em;
            text-align: left;
        }

        #jobTitle {
            font-size: 1.2em;
            text-align: left;
        }

        #description {
            font-size: 1em;
        }
    }

    #avatar {
        order: 2;

        text-align: right;
    }

    #social {
        order: 3;
        width: 30%;
        font-size: 1.2em;
    }

    #email {
        order: 4;
        flex: 1;
        text-align: right;
        font-size: 0.9em;
    }

    #location {
        order: 5;
        font-size: 0.9em;
    }

    #avatar, #location {
        flex-basis: 13%;
        flex-grow: 0;
        flex-shrink: 0;
    }

    #social, #location { 
        i {
            font-size: 1.2em;
        }
    }
  }

  @media screen and (min-width: 1200px) {
    #wrapper {
        width: 1140px;
    }

    #identity {
        width: 81%;
    }
}

